<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vote for your favourite</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>Vote Here</h1>
    </header>

        
<form action="/button-clicked" method="post">
            <h2>Vote Now!</h2>
            <label for="animal">Animal:</label>
            <select id="animal" name="animal">
              <option value="tiger">Tiger</option>
                 <option value="toucan">Toucan</option>
                 <option value="sloth">Sloth</option>
            </select>

            <label for="Jungle">Jungle:</label>
            <select id="jungle" name="jungle">
              <option value="Amazon">Amazon</option>
                <option value="Congo">Congo</option>
                <option value="Daintree">Daintree</option>
            </select><br>
            <br>
            <label>Name:</label>
            <input type="text" id="nm"><br>
            <br>
            <label>Email:</label>
            <input type="text" id="em"><br>
            <br>
<button type="submit">Click to cast your vote</button>
          </form>
</body>
</html>